[Unit]
Description=Slow Movie Player

[Service]
Type=exec
ExecStartPre=/opt/slow-movie-player/slowmovieplayer.py --clear
ExecStartPre=sleep 60
ExecStart=/opt/slow-movie-player/slowmovieplayer.py
ExecStopPost=/opt/slow-movie-player/slowmovieplayer.py --clear
TimeoutStopSec=30
Restart=no
RuntimeDirectory=slow-movie-player
ConfigurationDirectory=slow-movie-player
StandardOutput=journal+console
StandardError=inherit

[Install]
WantedBy=multi-user.target
